<h1 class="font-bold font-serif text-xl">Game Settings</h1>

<form method="post" action="/f1-game" class="flex flex-col sm:flex-row sm:space-x-6">
    <div>
        <label for="host" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Host</label>
        <div class="mt-1 relative rounded-md shadow-sm text-black">
            <input type="text" name="host" id="host" value="{{.Host}}" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full px-2 sm:text-sm border-gray-300 rounded-md" placeholder="localhost">
        </div>
    </div>
    <div>
        <label for="port" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Port</label>
        <div class="mt-1 relative rounded-md shadow-sm text-black">
            <input type="number" name="port" id="port" value="{{.Port}}" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full px-2 sm:text-sm border-gray-300 rounded-md" placeholder="20777">
        </div>
    </div>

    <div class="flex">
    <button type="submit" class="inline-flex align-bottom justify-end py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Save
      </button>
    </div>
</form>
