<div class="relative z-10 bg-white rounded-xl shadow-md hover:shadow-xl duration-300 ring-1 ring-gray-900/5 divide-y divide-gray-100 my-auto xl:mt-18 dark:bg-gray-800 dark:divide-gray-200/5 dark:highlight-white/10">
    <nav class="py-4 px-4 sm:px-6 lg:px-4 xl:px-6 text-sm font-medium flex">
        <ul class="flex space-x-3">
            <li class="flex">
                <div class="pl-3 pr-1 py-2 text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5" />
                    </svg>
                </div>
                <div class="pl-2 pr-3 py-2 text-black">metrix UI</div>
            </li>
            <li><div class="px-3 py-2 rounded-md bg-blue-500 text-white cursor-pointer">New<span class="hidden sm:inline lg:hidden xl:inline"> Releases</span></div></li>
            <li><div class="px-3 py-2 rounded-md bg-gray-50 cursor-pointer dark:bg-transparent dark:text-gray-300 dark:ring-1 dark:ring-gray-700">Top<span class="hidden sm:inline"> Rated</span></div></li>
            <li><div class="px-3 py-2 rounded-md bg-gray-50 cursor-pointer dark:bg-transparent dark:text-gray-300 dark:ring-1 dark:ring-gray-700">Vincent’s Picks</div></li>
        </ul>
        <ul class="flex space-x-3 ml-auto">
            <li><div class="px-3 py-2 rounded-md bg-blue-500 text-white cursor-pointer">New<span class="hidden sm:inline lg:hidden xl:inline"> Releases</span></div></li>
            <li><div class="px-3 py-2 rounded-md bg-transparent text-gray-600 cursor-pointer hover:bg-gray-50 hover:text-black dark:bg-transparent dark:text-gray-300 dark:ring-1 dark:ring-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
            </div></li>
        </ul>
    </nav>
</div>