<section class="bg-white z-20 hover:shadow-md duration-300 px-4 py-2 ring-1 ring-gray-900/5 dark:bg-gray-800">
    <div class="workbench rounded-lg shadow-inner h-96 ring-1 ring-gray-900/5 flex flex-row items-center space-x-20 justify-center">
        <div class="relative z-10 h-14 w-60 px-12 py-4 rounded-md bg-gray-100 text-gray-800 cursor-pointer hover:ring-indigo-500 hover:ring-4 hover:border-indigo-500 border-gray-300 duration-100 {{if eq .Slug "f1-game"}} ring-4 ring-indigo-500 border-indigo-500 {{end}}" hx-get="/f1-game" hx-target="body" hx-swap="outerHTML" hx-push-url="true">
            F1 Game
            <div class="absolute right-0 h-14 before:absolute before:-top-5 before:-left-2 before:w-4 before:h-4 before:rounded-full before:bg-gray-100 ">
                <div class="absolute right-1 top-1 h-14 before:absolute before:-top-5 before:left-0 before:w-2 before:h-2 before:rounded-full before:bg-gray-300 before:z-10 after:absolute after:-top-5 after:left-1 after:w-24 after:h-2 after:rounded-full after:bg-indigo-500"></div>
            </div>
        </div>

        <div class="relative z-10 h-14 w-60 px-12 py-4 rounded-md bg-gray-100 text-gray-800 cursor-pointer hover:ring-indigo-500 hover:ring-4 hover:border-indigo-500 border-gray-300 duration-100 {{if eq .Slug "processing"}} ring-4 ring-indigo-500 border-indigo-500 {{end}}" hx-get="/processing" hx-target="body" hx-swap="outerHTML" hx-push-url="true">
            Processing
            <div class="absolute right-0 h-14 before:absolute before:-top-5 before:-left-2 before:w-4 before:h-4 before:rounded-full before:bg-gray-100 ">
                <div class="absolute right-1 top-1 h-14 before:absolute before:-top-5 before:left-0 before:w-2 before:h-2 before:rounded-full before:bg-gray-300 before:z-10 after:absolute after:-top-5 after:left-1 after:w-24 after:h-2 after:rounded-full after:bg-indigo-500"></div>
            </div>
        </div>

        <div class="relative z-10 h-14 w-60 px-12 py-4 rounded-md bg-gray-100 text-gray-800 cursor-pointer hover:ring-indigo-500 hover:ring-4 hover:border-indigo-500 border-gray-300 duration-100 {{if eq .Slug "monitoring"}} ring-4 ring-indigo-500 border-indigo-500 {{end}}" hx-get="/monitoring" hx-target="body" hx-swap="outerHTML" hx-push-url="true">
            Monitoring
            <div class="absolute right-0 h-14 before:absolute before:-top-5 before:-left-2 before:w-4 before:h-4 before:rounded-full before:bg-gray-100 ">
                <div class="absolute right-1 top-1 h-14 before:absolute before:-top-5 before:left-0 before:w-2 before:h-2 before:rounded-full before:bg-gray-300 before:z-10 after:absolute after:-top-5 after:left-1 after:w-24 after:h-2 after:rounded-full after:bg-indigo-500"></div>
            </div>
        </div>

        <div class="relative z-10 h-14 w-60 px-12 py-4 rounded-md bg-gray-100 text-gray-800 cursor-pointer hover:ring-indigo-500 hover:ring-4 hover:border-indigo-500 border-gray-300 duration-100 {{if eq .Slug "sending"}} ring-4 ring-indigo-500 border-indigo-500 {{end}}" hx-get="/sending" hx-target="body" hx-swap="outerHTML" hx-push-url="true">
            Sending
            <div class="absolute right-0 h-14 before:absolute before:-top-5 before:-left-2 before:w-4 before:h-4 before:rounded-full before:bg-gray-100 ">
                <div class="absolute right-1 top-1 h-14 before:absolute before:-top-5 before:left-0 before:w-2 before:h-2 before:rounded-full before:bg-gray-300 before:z-10 after:absolute after:-top-5 after:left-1 after:w-2 after:h-2 after:rounded-full after:bg-gray-300"></div>
            </div>
        </div>
    </div>
</section>