<div class="metrics col-1">
    <div class="row">
        <!-- <div class="timeline">{{ duration .samples .interval }}</div> -->
        <svg class="col-1" style="margin-top: 2rem;" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20">
        {{ if eq (index (index .samples 0) "type") "c" }}
            {{ range (path .samples "count") }}<path d={{ . }} />{{end}}
        {{ else if eq (index (index .samples 0) "type") "g" }}
            {{ range (path .samples "min" "max" "mean" ) }}<path d={{ . }} />{{end}}
        {{ else if eq (index (index .samples 0) "type") "h" }}
            {{ range (path .samples "p50" "p90" "p99") }}<path d={{ . }} />{{end}}
        {{ end }}
        </svg>
    </div>
</div>