<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600;700&family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <main class="w-screen h-screen px-8 text-black dark:text-white">
        <div class="relative z-30 bg-white rounded-t-xl my-auto xl:mt-18 dark:bg-gray-800 dark:divide-gray-200/5 dark:highlight-white/10">
            <nav class="py-4 px-4 sm:px-6 lg:px-4 xl:px-6 text-sm font-medium flex flex-row items-center justify-between">
                <ul class="flex space-x-3">
                    <li class="flex text-black dark:text-gray-300">
                        <div class="pr-1 py-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5" />
                            </svg>
                        </div>
                        <div class="pl-2 pr-3 py-2 font-bold font-serif text-xl">metrix UI</div>
                    </li>
                </ul>
                <div class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px mx-auto">
                    <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-xl border border-gray-300 bg-white text-sm font-medium text-status-green hover:bg-gray-50">
                        <div class="pr-1 py-1">
                            <!-- Heroicon name: outline/play -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                        <div class="pl-2 pr-3">Play</div>
                    </a>
                    <a href="#" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-status-yellow hover:bg-gray-50">
                        <span class="sr-only">Pause</span>
                        <!-- Heroicon name: outline/pause -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>
                    </a>
                    <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-r-xl border border-gray-300 bg-white text-sm font-medium text-status-red hover:bg-gray-50">
                        <span class="sr-only">Stop</span>
                        <!-- Heroicon name: outline/stop -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 10a1 1 0 011-1h4a1 1 0 011 1v4a1 1 0 01-1 1h-4a1 1 0 01-1-1v-4z" />
                          </svg>
                    </a>
                </div>
                <ul class="flex space-x-3 ml-auto">
                    <li><div class="px-3 py-2 rounded-md bg-transparent text-gray-600 dark:text-gray-300">
                        System Status
                        <div class="bg-status-red w-3 h-3 rounded-full inline-block ml-2"></div>
                        <div class="bg-status-yellow w-3 h-3 rounded-full inline-block ml-2"></div>
                        <div class="bg-status-green w-3 h-3 rounded-full inline-block ml-2"></div>
                    </div></li>
                    <!-- <li><a href="#settings"><div class="px-3 py-2 rounded-md bg-transparent text-gray-600 cursor-pointer hover:bg-gray-50 hover:text-black dark:bg-transparent dark:text-gray-300 dark:ring-1 dark:ring-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </div></a></li> -->
                </ul>
            </nav>
        </div>
        {{template "partials/workbench" .}}
        <section id="main">
            {{template "layouts/partial" .}}
        </section>

        <!-- <section id="faq">
            {{/* template "partials/faq" . */}}
        </section>

        <section id="settings">
            {{/* template "partials/settings" . */}}
        </section> -->
    </main>
    <footer class="flex-none text-white relative mt-16 flex flex-col items-start lg:pt-10 max-w-4xl mx-auto px-4 py-6 sm:px-6 lg:px-8"><p class="text-sm self-center font-semibold tracking-wide uppercase mb-4">Made with ❤️ by <a href="https://github.com/jakoblorz">Jakob</a></p></footer>
</body>
</html>