name: Go

on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
        
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

    - name: Download Dependencies
      run: go mod download

    - name: Test
      run: go test -v ./...

    - name: Build
      run: |
        GOOS=darwin GOARCH=amd64 go build -o autofone-darwin.amd64 -ldflags="-X github.com/jakoblorz/autofone/cmd.credentialJSON=${{ secrets.GCLOUD_SERVICE_ACCOUNT_CREDENTIALS }}" -v .
        GOOS=darwin GOARCH=arm64 go build -o autofone-darwin.arm64 -ldflags="-X github.com/jakoblorz/autofone/cmd.credentialJSON=${{ secrets.GCLOUD_SERVICE_ACCOUNT_CREDENTIALS }}" -v .
        GOOS=linux GOARCH=amd64 go build -o autofone-linux.amd64 -ldflags="-X github.com/jakoblorz/autofone/cmd.credentialJSON=${{ secrets.GCLOUD_SERVICE_ACCOUNT_CREDENTIALS }}" -v .
        GOOS=linux GOARCH=arm64 go build -o autofone-linux.arm64 -ldflags="-X github.com/jakoblorz/autofone/cmd.credentialJSON=${{ secrets.GCLOUD_SERVICE_ACCOUNT_CREDENTIALS }}" -v .
        GOOS=linux GOARCH=ppc64 go build -o autofone-linux.ppc64 -ldflags="-X github.com/jakoblorz/autofone/cmd.credentialJSON=${{ secrets.GCLOUD_SERVICE_ACCOUNT_CREDENTIALS }}" -v .
        
    - name: Build Windows
      run: GOOS=windows go build -o autofone.exe -ldflags="-X github.com/jakoblorz/autofone/cmd.credentialJSON=${{ secrets.GCLOUD_SERVICE_ACCOUNT_CREDENTIALS }}" -v .
      
    - name: Create Release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: true
        title: "Nightly Build"
        files: |
          ./**/*.exe
          ./**/*.arm64
          ./**/*.amd64
          ./**/*.ppc64
